body {
  background-image: linear-gradient(to right, grey, pink);
}
.pages li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}
.pages ul a {
  list-style: none;
  text-decoration: none;
  position: relative;
  left: 900px;
  padding: 30px;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: palevioletred;
}

.about-me img {
  position: relative;
  width: 30%;
  top: 60px;
  height: 600px;
  animation-name: pictures;
  animation-duration: 3s;
}
@keyframes pictures {
  from {
    background-image: url(./pictures/Snapchat-1265774776.jpg);
  }
  to {
    background-image: url(./pictures/Snapchat-1457602905.jpg);
  }
}
.text {
  position: relative;
  top: 300px;
  font-size: 70px;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: black;
  font-family: "Lobster", cursive;
}
.text2 {
  position: absolute;
  top: 400px;
  font-size: 70px;
}
.multicolor {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    green,
    blue,
    yellow,
    orange,
    red
  );
}

.title {
  position: relative;
  top: 200px;
  font-size: 70px;
  background-color: #c17895;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px 3px lightgreen;
}
h2 {
  color: #796721;
  position: absolute;
  left: 900px;
  top: 250px;
  padding: 70px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 80px;
  display: flex;
  flex-direction: column;
}
.me {
  position: relative;
  top: 60px;
  font-size: 40px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(2, 24, 2);
  box-shadow: 3px 3px 3px 3px yellow;
  font-family: "Lobster", cursive;
  left: 50px;
}

span {
  color: darkgoldenrod;
  letter-spacing: normal;
  background-color: rgb(223, 219, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  position: relative;
  top: 50px;
}
.my-skills {
  display: inline-block;
}
.my-skills img {
  position: relative;
  width: 20%;
  height: 500px;
  top: 200px;
  left: 30px;
  padding: 40px;
  background-color: aliceblue;
  box-shadow: 3px 3px 3px 3px goldenrod;
  animation-name: color;
  animation-duration: 4s;
  animation-iteration-count: 3;
}
@keyframes color {
  0% {
    background-color: rgb(233, 27, 216);
  }
  25% {
    background-color: rgb(235, 235, 23);
  }
  50% {
    background-color: rgb(27, 241, 241);
  }
  100% {
    background-color: green;
  }
}
h1 {
  position: absolute;
  left: 60px;
  top: 60px;
  font-size: 50px;
  font-weight: bold;
  color: black;
}
.container {
  position: absolute;
  top: 300px;
  left: 100px;
  color: black;
  font-size: 90px;
  font-family: "Lobster";
  padding: 30px;
}
h5 {
  position: relative;
  top: 100px;
  left: 500px;
  font-size: 80px;
  background-color: #c17895;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px 3px yellow;
}
h6 {
  color: #796721;
  position: absolute;
  top: 60px;
  left: 400px;
  font-size: 90px;
  background-color: #e4e0d0;
  box-shadow: 3px 3px 3px 3px yellow;
  font-family: "Poppins", sans-serif;
  border: solid;
}
.contact-me {
  position: relative;
  top: 400px;
  left: 400px;
  font-size: 60px;
  color: black;
}
p a {
  color: black;
  list-style: none;
  text-decoration: none;
}

.container3 {
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  top: 300px;
}
.tit {
  position: absolute;
  top: 100px;
  font-size: 60px;
  animation-name: move2;
  animation-duration: 3s;
  animation-iteration-count: 3;
  left: 50px;
  color: #872603;
}

.card img {
  box-shadow: 3px 3px 3px 3px yellow;
  border-radius: 20px;
}
.desc {
  color: black;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  padding: 50px;
}
