body {
  background-image: linear-gradient(to right, grey, pink);
}
.pages li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}
.pages ul a {
  list-style: none;
  text-decoration: none;
  position: relative;
  left: 900px;
  padding: 30px;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: palevioletred;
}

img {
  position: relative;
  width: 100%;
  top: 60px;
  height: 2000px;
}
h2 {
  color: rgb(255, 146, 127);
  position: absolute;
  left: 1500px;
  top: 200px;
}
